* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Ubuntu bold;
    src: url(fonts/Ubuntu/Ubuntu-Bold.ttf);
}
@font-face {
    font-family: Ubuntu regular;
    src: url(fonts/Ubuntu/Ubuntu-Regular.ttf);
}

html, body {
    height: 100%;
    background: #FFFFFF;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
}
.container {
    width: 100%;
    height: 100%;
}
.container_banner {
    margin: 0 auto;
    max-width: 1248px;
}
.container_banner__header {
	display: flex;
	width: 100%;
	height: 80px;
}
.banner__header_wrap {
	width: 100%;
	display: flex;
	align-items: center;
}
.banner__header_wrap__logo {
	font-size: 50px;
	margin-right: 120px;
}

.banner__header_wrap__navigation li {
	display: inline;
	padding: 20px;
}
.banner__header_wrap__navigation a {
    color: #4B5D68;
    font-family: Ubuntu regular;
    font-size: 16px;
    line-height: 26px;
}
.banner__header_wrap__navigation a:hover {
    color: #212353;
    font-family: Ubuntu bold;
}
.container_banner__content {
    width: 100%;
    display: flex;
}
.banner__content_wrap {
    margin-top: 140px;
    display: flex;
}
.banner__content_wrap__column {
    width: 100%;
}
.banner__content_wrap__column_title {
    font-size: 70px;
    font-family: Ubuntu bold;
    color: #212353;
    width: 140%;
}
.banner__content_wrap__column_text {
    font-size: 18px;
    line-height: 29px;
    font-family: Ubuntu regular;
    color: #4B5D68;
    width: 100%;
    margin: 40px 0 40px 0;
}
.banner__content_wrap__column img {
    margin-top: 110px;
}
.banner__content_wrap__column_btn {
    background: #9C69E2;
    border-radius: 50px;
    padding: 20px 30px;
}
.banner__content_wrap__column_btn a {
    color: #FFFFFF;
    font-size: 18px;
    font-family: Ubuntu regular;
}

.container_main {
    width: 100%;
    margin: 100px auto;
    max-width: 1117px;
}
.container_main__about {
    background: rgba(240, 99, 184, 0.15);
    border-radius: 50px;
    width: 100%;
}
.container_about_wrap {
    width: 100%;
    display: flex;
}
.container_about_wrap_column {
    width: 100%;
}
.container_about_wrap_column__title {
    font-size: 40px;
    font-family: Ubuntu bold;
    color: #212353;
    margin-top: 100px;
    width: 100%;
}
.container_about_wrap_column__text {
    font-size: 18px;
    line-height: 29px;
    font-family: Ubuntu regular;
    color: #4B5D68;
    width: 85%;
    margin: 40px 0 0 0;
}
.container_main__features {
    width: 100%;
    margin-top: 150px;
}
.container_main__features_block {
    width: 100%;
    text-align: center;
}
.container_main__features_block__title {
    font-size: 40px;
    font-family: Ubuntu bold;
    color: #212353;
    margin-bottom: 40px;
    width: 100%;
}
.container_main__features_block__text {
    font-size: 18px;
    font-family: Ubuntu regular;
    color: #4B5D68;
    margin: auto;
    width: 52%;
}
.container_main__features_wrap {
    margin-top: 70px;
    display: flex;
    width: 100%;
}
.container_main__features_wrap .left,
.container_main__features_wrap .right {
    margin-left: 100px;
}
.container_main__features_wrap_column {
    width: 100%;
}
.container_main__features_wrap_column .first {
    background: url(images/Group76.svg) no-repeat;
    display: flex;
    margin-bottom: 50px;
}
.container_main__features_wrap_column__item {
    width: 100%;
}
.container_main__features_wrap_column__item_image img {
    margin-top: 80px;
    margin-left: -100px;
    margin-right: 33px;
}
.container_main__features_wrap_column__item_info {
    width: 50%;
}
.container_main__features_wrap_column__item_info h4 {
    margin-top: 60px;
    font-size: 24px;
    font-family: Ubuntu regular;
    color: #212353;
}
.container_main__features_wrap_column__item_info p {
    font-size: 16px;
    font-family: Ubuntu regular;
    line-height: 26px;
    color: #4B5D68;
    margin-top: 20px;
    height: 160px;
    width: 100%;
}
.container_main__features_wrap_column__item_info a {
    font-size: 16px;
    font-family: Ubuntu bold;
    color: #212353;
}
.container_main__features_wrap_column__item_info a::after {
    content: url('images/Group56.svg');
    padding-left: 20px;
}
.container_main__features_wrap_column .second {
    background: url(images/Group78.svg) no-repeat;
    display: flex;
    margin-bottom: 150px;
}
.container_main__features_wrap_column .third {
    background: url(images/Group77.svg) no-repeat;
    display: flex;
    margin-bottom: 50px;
}
.container_main__features_wrap_column .fourth {
    background: url(images/Group79.svg) no-repeat;
    display: flex;
    margin-bottom: 150px;
}
.container_main__features_wrap_column__item_info__arrow {
    margin-bottom: 30px;
    margin-top: 30px;
}
.container_main__testimonials {
    background: #9C69E2;
    border-radius: 50px;
    width: 100%;
}
.container_main__testimonials__title h2 {
    width: 100%;
    font-size: 40px;
    font-family: Ubuntu bold;
    color: #FFFFFF;
    padding-top: 109px;
    padding-bottom: 88px;
    padding-left: 93px;
}
.container_main__testimonials__wrap {
    width: 60%;
    background: #FFFFFF;
    box-shadow: 0px 20px 0px rgb(138 86 219 / 70%);
    border-radius: 20px;
    margin-left: 93px;
}
.container_main__testimonials__wrap_block .second,
.container_main__testimonials__wrap_block .third,
.container_main__testimonials__wrap_block .fourth {
    display: none;
}
.container_main__testimonials__wrap_block__item {
    display: flex;
    width: 100%;
}
.container_main__testimonials__wrap_block__item_info {
    width: 100%;
    padding: 80px 0 50px 0;
}
.container_main__testimonials__wrap_block__item_info__name {
    width: 100%;
    font-size: 18px;
    font-family: Ubuntu bold;
    color: #212353;
    line-height: 29px;
    letter-spacing: 0.5%;
}
.container_main__testimonials__wrap_block__item_info__description {
    width: 100%;
    font-size: 14px;
    font-family: Ubuntu regular;
    color: #9C69E2;
    line-height: 29px;
    letter-spacing: 1%;
}
.container_main__testimonials__wrap_block__item_info__text {
    width: 80%;
    font-size: 18px;
    font-family: Ubuntu regular;
    color: #4B5D68;
    line-height: 32px;
}
.container_main__testimonials__wrap_block__item_image {
    padding: 60px 70px 0 70px;
}
.container_main__testimonials__panel {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 60px 93px 60px 93px;
}
.container_main__testimonials__wrap_panel__circle img{
    margin-right: 10px;
}
.container_main__testimonials__wrap_panel__arrow img {
    margin-right: 20px;
}
.line {
    width: 100%;
    height: 2px;
    background-color: #9c69e2;
    opacity: 0.2;
    margin-top: 150px;
    margin-bottom: 125px;
}
.container_footer {
    width: 100%;
    margin: 0 auto;
    max-width: 1248px;
    padding-bottom: 65px;
}
.container_footer__wrap {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.container_footer__wrap_colum__logo {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
}
.container_footer__wrap_colum__logo h5 {
    font-size: 20px;
    font-family: Ubuntu bold;
    color: #212353;
}
.container_footer__wrap_colum__contacts {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding-bottom: 36px;
}
.container_footer__wrap_colum__contacts_address {
    width: 100%;
    font-size: 16px;
    font-family: Ubuntu regular;
    color: #212353;
    line-height: 29px;
    font-weight: 500;
}
.container_footer__wrap_colum__contacts_mail,
.container_footer__wrap_colum__contacts_phone {
    width: 100%;
    font-size: 16px;
    font-family: Ubuntu regular;
    color: #212353;
    line-height: 29px;
    font-weight: 400;
}
.container_footer__wrap_colum__copyright {
    width: 100%;
    font-size: 12px;
    font-family: Ubuntu regular;
    color: #212353;
    line-height: 22px;
    font-weight: 400;
}
.container_footer__wrap_colum__social h5 {
    font-size: 16px;
    font-family: Ubuntu regular;
    color: #212353;
    line-height: 26px;
    font-weight: 900;
    margin-bottom: 30px;
}
.container_footer__wrap_colum__social_icons {
    display: flex;
    flex-direction: row;
}
.container_footer__wrap_colum__social_icons img {
    padding-right: 14px;
}